* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial;
}

.board {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    text-align: center; 
    h1 {
        margin: 20px;
    }
    .create-column {
        position: relative;
        width: 150px;
        margin: 10px auto;
        padding: 5px 20px;
    }
    div.column-container {
        display: flex;
        flex-direction: row;
        padding: 10px;
    }
    button {
        position: absolute;
        background-color: #FDF2E9;
        border: 1px solid #F7DC6F;
        &:hover {
            background: #F7DC6F;
        }
    }
    undefined {
        justify-content: center;
        width: 33.3%;  
        background-color: #FDF2E9;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
        .column{
            position: relative;
            h2 {
                margin-top: 20px;
            }
            ul {
                list-style-type: none;
                li .card {
                    position: relative;
                    background-color: #F9E79F;
                    margin: 10px 0;
                    min-height: 50px;
                    padding: 5px;
                    .btn-delete {
                        top: 5px;
                        right: 5px;
                        background-color: #F9E79F;
                        &:hover{
                            border: 1px solid #000;
                        }
                    }
                    p {
                        margin: 25px 0;
                    }
                }
            }
            .add-card {
                top: -20px;
                left: 0;
                line-height: 10px;
                padding: 5px 10px;
            }
            .btn-delete {
                top: -20px;
                right: 0;
                line-height: 10px;
                height: 20px;
                width: 20px;
                &:hover {
                    background-color: #F7DC6F;
                }
            }
        }
    }
}
